body {
    margin: 0;
}

main {
    margin: 12px;
}

.navbar {
    display: flex;
    align-items: center;
    
    background: #adf5fa;
    color: rgb(20, 20, 20);
    font-family:Josephine,sans-serif;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 8px 8px;
    color: rgb(18, 18, 19);
    text-decoration: none;
}
.navbar__title:hover {
    color: #ffffff;
}

.navbar__item {
    padding: 8px 20px;
    cursor: pointer;
    vertical-align: middle;
}


    
